.row.mt-5
  .col-6
    .card
      .card-header
        %h3 Ingreso de usuario
      .card-body
        %p.card-text 
          %table.table
            %tbody
              %tr
                %td Ruta
                %td https://runa-app.herokuapp.com/api/services/access
              %tr
                %td Parametros
                %td="{'email' => <CORREO DE USUARIO>, 'password': <CONTRASEÑA USUARIO>}"
              %tr
                %td Cabeceras
                %td='{"Content-Type" => "application/json"}'
              %tr
                %td Respuesta
                %td='{"id": <ID USUARIO>,"email": <CORREO DE USUARIO>,"name": <NOMBRE DE USUARIO>,"phone": <TELEFONO DE USUARIO>,"token_access": <TOKEN UNICO DE USUARIO>}'
  .col-6
    .card
      .card-header
        %h3 Obtener entradas de horario
      .card-body
        %p.card-text
          %table.table
            %tbody
              %tr
                %td Ruta
                %td https://runa-app.herokuapp.com/api/services/get_work_schedules
              %tr
                %td Parametros
                %td {}
              %tr
                %td Cabeceras
                %td='{"d-access-token" => <TOKEN UNICO DE USUARIO>, "Content-Type" => "application/json"}'
              %tr
                %td Respuesta
                %td='[{"id": <ID HORARIO>,"start_time": <HORARIO ENTRADA>,"end_time": <HORARIO SALIDA>,"schedule":<FECHA DEL REGISTRO>},{"id": <ID HORARIO>,"start_time": <HORARIO ENTRADA>,"end_time": <HORARIO SALIDA>,"schedule":<FECHA DEL REGISTRO>}]'