-if session[:current_user]
  .card.text-center.mt-5
    .card-header
      %h2 Información para el usuario
      %h4.text-info=session[:current_user]["name"]
      %p.card-text
        %small.text-muted
          \(
          =session[:current_user]["email"]
          =" - #{session[:current_user]["phone"]}" if session[:current_user]["phone"] != ''
          \)
        
    .card-body
      =link_to "Descargar", download_path, :class=>"btn btn-info"
      =link_to "Salir", sign_out_path, :class=>"btn btn-danger"
      %table.table.table-hover.mt-2
        %thead
          %tr
            %th{:scope => "col"} #
            %th{:scope => "col"} Fecha
            %th{:scope => "col"} Hora de entrada
            %th{:scope => "col"} Hora de salida
        %tbody
          -@ws.each do |ws|
            %tr
              %th{:scope => "row"}=ws["id"]
              %td=ws["schedule"].to_date.strftime("%d/%m/%Y")
              %td=ws["start_time"].to_time.strftime("%H:%M:%S")
              %td=ws["end_time"].to_time.strftime("%H:%M:%S")

    .card-footer.text-muted
      Prueba con llamadas

-else
  .col-4.mt-5
    =form_tag(login_user_path, method: "post",:class=>"form-signin",remote: true) do
      .form-label-group
        %label{:for => "inputEmail"} Correo
        =text_field_tag :email,'', autofocus: true, autocomplete: "email", :class=>"form-control", :placeholder=>"Email address", :required=>true
      .form-label-group
        %label{:for => "inputPassword"} Contraseña
        =password_field_tag :password,'', autocomplete: "off", :class=>"form-control", :placeholder=>"Password", :required=>true
      .mt-2
        Visitar 
        =link_to 'API', calls_path
      %button.btn.btn-lg.btn-primary.btn-block.mt-2{:type => "submit"} Entrar
