<div class="col-4 mt-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),:class=>"form-signin") do |f| %>
    <div class="form-label-group">
      <label for="inputEmail">Correo</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control", :placeholder=>"Email address", :required=>true %>
    </div>

    <div class="form-label-group">
      <label for="inputPassword">Contraseña</label>
      <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>"Password", :required=>true %>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  <% end %>
</div>
