= form_for([:admin, @user], role: 'form') do |f|
  .row
    .col-6
      .form-group
        %label.control-label Nombre
        =f.text_field :name, class: "form-control ", :required=>true
      .form-group
        %label.control-label Correo
        =f.text_field :email, class: "form-control ", :required=>true
      .form-group
        %label.control-label Telefono
        =f.text_field :phone, class: "form-control "
      .form-group
        %label.control-label Contraseña
        -unless @user.new_record?
          =f.password_field :password, class: "form-control "
          %small.text-muted Ingresar si requiere cambiar 
        -else
          =f.password_field :password, class: "form-control ", :required=>true
      .form-group
        %label.control-label Admin
        = f.check_box :admin
    .col-6
      %h3 Entradas
      #schedules
        = f.fields_for :work_schedules do |ws|
          = render 'work_schedule_fields', f: ws
        .links
          = link_to_add_association 'Agregar Entrada', f, :work_schedules
    .col-12
      = f.submit 'Guardar', :class=>"btn btn-primary"
      = link_to 'Regresar', admin_users_path, :class=>"btn btn-info"
