.nested-fields
  .row
    .col-4
      .field
        = f.label :Dia
        %br
        =f.text_field :schedule, class: "form-control", placeholder: "Fecha", 'data-provide'=>"datepicker", 'data-date-format'=>"dd/mm/yyyy",:required => true, :value=>"#{f.object.schedule.strftime("%d/%m/%Y") if f.object.schedule}"
    .col-3
      .field
        = f.label :Entrada
        %br
        = f.text_field :start_time, class: "form-control timepicker", :id=>"start_time",:required => true, :value=>"#{f.object.start_time.strftime("%H:%M:%S") if f.object.start_time}"
    .col-3
      .field
        = f.label :Salida
        %br
        = f.text_field :end_time, class: "form-control timepicker",:required => true, :value=>"#{f.object.end_time.strftime("%H:%M:%S") if f.object.end_time}"
    .col-2
      = link_to_remove_association "-", f, :class=>'btn btn-danger'
:javascript
  $('.timepicker').timepicker()
