.card.mt-3
  .card-header
    %h2 
      Usuarios
      \(
      =@users.count
      \)
  .card-body
    %p.card-text 
      %table.table.table-hover
        %thead
          %tr
            %th{:scope => "col"} #
            %th{:scope => "col"} Nombre
            %th{:scope => "col"} Correo
            %th{:scope => "col"} Telefono
            %th{:scope => "col"} Tipo
            %th{:scope => "col"} Entradas
            %th
              =link_to 'Nuevo',new_admin_user_path,:class=>"btn btn-primary"
              =link_to 'Descargar',download_admin_users_path,:class=>"btn btn-success"
        %tbody
          -@users.each do |user|
            %tr
              %th{:scope => "row"}=user.id
              %td=user.name
              %td=user.email
              %td=user.phone
              %td="#{user.admin? ? 'Admin' : 'Usuario'}"
              %td=user.work_schedules.count
              %td
                =link_to 'Editar',edit_admin_user_path(user),:class=>"btn btn-info"
                = link_to 'Borrar', admin_user_path(user), :method => :delete, :data => { :confirm => '¿Estas seguro?' }, :class=>"btn btn-danger"
