.col-4.m-4
  .card{:style => "width: 18rem;"}
    .card-body
      %h2 Usuarios
      %p.card-text=@users.count
.col-4.m-4
  .card{:style => "width: 18rem;"}
    .card-body
      %h2 Administradores
      %p.card-text=@admins.count
