<!DOCTYPE html>
<html>
  <head>
    <title>Runa - Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  	  <%if current_user%>
  		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/admin">RUNA - Admin</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse " id="navbarNav">
		    <ul class="navbar-nav">
		      <%if current_user.admin?%>
		        <li class="nav-item">
		          <%= link_to('Usuarios', admin_users_path, :class=>"nav-link")%>
		        </li>
		      <%end%>
		      <li class="nav-item">
		        <%= link_to('Salir', destroy_user_session_path, method: :delete, :class=>"nav-link")%>
		      </li>
		    </ul>
		  </div>
		</nav>
	  <%end%>
  	  <div class="row justify-content-md-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
