<!DOCTYPE html>
<html>
  <head>
    <title>Runa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  	  <div class="row justify-content-md-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
